In [155]:
import datetime
import json
import csv
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [83]:
import http.client

conn = http.client.HTTPSConnection("api.coincap.io")
payload = ''
headers = {}
conn.request("GET", "/v2/assets", payload, headers)
res = conn.getresponse()
data = res.read()
print(data.decode("utf-8"))

{"data":[{"id":"bitcoin","rank":"1","symbol":"BTC","name":"Bitcoin","supply":"19658368.0000000000000000","maxSupply":"21000000.0000000000000000","marketCapUsd":"1379513097060.8613396067500160","volumeUsd24Hr":"10908730117.6776908017221356","priceUsd":"70174.3449436322150245","changePercent24Hr":"-0.2256033519804800","vwap24Hr":"70422.7971343398502476","explorer":"https://blockchain.info/"},{"id":"ethereum","rank":"2","symbol":"ETH","name":"Ethereum","supply":"120077426.1898597300000000","maxSupply":null,"marketCapUsd":"432168894230.9934843796600451","volumeUsd24Hr":"7142730555.2392284256475955","priceUsd":"3599.0852564383927529","changePercent24Hr":"-0.3463443328192875","vwap24Hr":"3611.1720476718773718","explorer":"https://etherscan.io/"},{"id":"tether","rank":"3","symbol":"USDT","name":"Tether","supply":"103618183617.7160800000000000","maxSupply":null,"marketCapUsd":"103650245149.4002196332737137","volumeUsd24Hr":"25980251189.7378620229067500","priceUsd":"1.0003094199354278","changePercent24Hr":"0.0268927456004570","vwap24Hr":"1.0001378221322144","explorer":"https://www.omniexplorer.info/asset/31"},{"id":"binance-coin","rank":"4","symbol":"BNB","name":"BNB","supply":"166801148.0000000000000000","maxSupply":"166801148.0000000000000000","marketCapUsd":"96791690897.1746972892001436","volumeUsd24Hr":"521472143.7866370357124343","priceUsd":"580.2819228628732057","changePercent24Hr":"-1.4493059585404877","vwap24Hr":"585.0585901834422489","explorer":"https://etherscan.io/token/0xB8c77482e45F1F44dE1745F52C74426C631bDD52"},{"id":"solana","rank":"5","symbol":"SOL","name":"Solana","supply":"443884942.2473194000000000","maxSupply":null,"marketCapUsd":"85260730839.9872802324295220","volumeUsd24Hr":"1308095724.9960636926106724","priceUsd":"192.0784480958638910","changePercent24Hr":"0.5908324308200531","vwap24Hr":"191.7775165407822181","explorer":"https://explorer.solana.com/"},{"id":"usd-coin","rank":"6","symbol":"USDC","name":"USDC","supply":"31402000743.4583700000000000","maxSupply":null,"marketCapUsd":"31421853026.0831626566266556","volumeUsd24Hr":"1869560816.6937912290866702","priceUsd":"1.0006321980177944","changePercent24Hr":"0.0573048512853094","vwap24Hr":"0.9999456164827085","explorer":"https://etherscan.io/token/0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"},{"id":"xrp","rank":"7","symbol":"XRP","name":"XRP","supply":"45404028640.0000000000000000","maxSupply":"100000000000.0000000000000000","marketCapUsd":"28717477661.4848942177236800","volumeUsd24Hr":"641094907.8343627482619216","priceUsd":"0.6324874360638870","changePercent24Hr":"-1.8516580456759341","vwap24Hr":"0.6399831709438648","explorer":"https://xrpcharts.ripple.com/#/graph/"},{"id":"dogecoin","rank":"8","symbol":"DOGE","name":"Dogecoin","supply":"143530066383.7052000000000000","maxSupply":null,"marketCapUsd":"25992933470.3290716963469349","volumeUsd24Hr":"1236078332.9302501102013408","priceUsd":"0.1810974810033253","changePercent24Hr":"2.2180363123964697","vwap24Hr":"0.1802356734682942","explorer":"http://dogechain.info/chain/Dogecoin"},{"id":"cardano","rank":"9","symbol":"ADA","name":"Cardano","supply":"35565639551.8750000000000000","maxSupply":"45000000000.0000000000000000","marketCapUsd":"23717841563.8607782151050410","volumeUsd24Hr":"266777622.0785950764070111","priceUsd":"0.6668751599213232","changePercent24Hr":"0.8809579635453705","vwap24Hr":"0.6672052258399167","explorer":"https://cardanoexplorer.com/"},{"id":"avalanche","rank":"10","symbol":"AVAX","name":"Avalanche","supply":"377311201.7659915000000000","maxSupply":"720000000.0000000000000000","marketCapUsd":"21176288538.5072833339061689","volumeUsd24Hr":"371604708.3384073569854221","priceUsd":"56.1241978488643512","changePercent24Hr":"-3.5313199532584932","vwap24Hr":"57.4520823850761176","explorer":"https://avascan.info/"},{"id":"shiba-inu","rank":"11","symbol":"SHIB","name":"Shiba Inu","supply":"589289410812691.0000000000000000","maxSupply":null,"marketCapUsd":"18167832512.6310351807949018","volumeUsd24Hr":"852613525.2452155639540937","priceUsd":"0.0000308300678398","changePercent24Hr":"5.8346597341736326","vwap24Hr":"0.0000300839377748","explorer":"https://etherscan.io/token/0x95ad61b0a150d79219dcf64e1e6cc01f0b64c4ce"},{"id":"polkadot","rank":"12","symbol":"DOT","name":"Polkadot","supply":"1345454258.8803900000000000","maxSupply":null,"marketCapUsd":"13034001098.3880482723865546","volumeUsd24Hr":"198238626.1890703384847994","priceUsd":"9.6874353121704767","changePercent24Hr":"-1.1735510633324064","vwap24Hr":"9.8171702922242541","explorer":"https://polkascan.io/polkadot"},{"id":"chainlink","rank":"13","symbol":"LINK","name":"Chainlink","supply":"587099970.4527867000000000","maxSupply":"1000000000.0000000000000000","marketCapUsd":"11699054497.5484923888944529","volumeUsd24Hr":"335039594.7582815685084103","priceUsd":"19.9268524720344963","changePercent24Hr":"2.9075366865087135","vwap24Hr":"20.0041816216734999","explorer":"https://etherscan.io/token/0x514910771af9ca656af840dff83e8264ecf986ca"},{"id":"wrapped-bitcoin","rank":"14","symbol":"WBTC","name":"Wrapped Bitcoin","supply":"155584.7087716400000000","maxSupply":null,"marketCapUsd":"10929216602.5805562274582780","volumeUsd24Hr":"167869384.5883860851364081","priceUsd":"70246.0845212105778899","changePercent24Hr":"-0.1112986349293283","vwap24Hr":"70409.8065875699003508","explorer":"https://etherscan.io/token/0x2260fac5e5542a773aa44fbcfedf7c193bc2c599"},{"id":"tron","rank":"15","symbol":"TRX","name":"TRON","supply":"87827583692.0204600000000000","maxSupply":null,"marketCapUsd":"10614767643.8408820750096140","volumeUsd24Hr":"152738756.7819488161566037","priceUsd":"0.1208591560603902","changePercent24Hr":"0.2836711238587564","vwap24Hr":"0.1212911172075057","explorer":"https://tronscan.org/#/"},{"id":"polygon","rank":"16","symbol":"MATIC","name":"Polygon","supply":"9906666473.1907880000000000","maxSupply":"10000000000.0000000000000000","marketCapUsd":"10379648433.8523003880254756","volumeUsd24Hr":"180389031.1483971705844642","priceUsd":"1.0477438058444267","changePercent24Hr":"-0.4449855593123846","vwap24Hr":"1.0584313800563429","explorer":"https://etherscan.io/token/0x7D1AfA7B718fb893dB30A3aBc0Cfc608AaCfeBB0"},{"id":"bitcoin-cash","rank":"17","symbol":"BCH","name":"Bitcoin Cash","supply":"19672493.7500000000000000","maxSupply":"21000000.0000000000000000","marketCapUsd":"9453801951.8702244231532581","volumeUsd24Hr":"244895743.7707116521938447","priceUsd":"480.5594080755635987","changePercent24Hr":"-2.4721980194462676","vwap24Hr":"485.2512375496977182","explorer":"https://blockchair.com/bitcoin-cash/blocks"},{"id":"internet-computer","rank":"18","symbol":"ICP","name":"Internet Computer","supply":"461012211.7845339000000000","maxSupply":null,"marketCapUsd":"8864635462.2900942523142546","volumeUsd24Hr":"377745869.3750232917639397","priceUsd":"19.2286348076896783","changePercent24Hr":"10.6107858883107702","vwap24Hr":"19.0192820749469543","explorer":"https://www.dfinityexplorer.org/#/"},{"id":"near-protocol","rank":"19","symbol":"NEAR","name":"NEAR Protocol","supply":"1053121449.0000000000000000","maxSupply":null,"marketCapUsd":"8136839474.5041976082967003","volumeUsd24Hr":"312694026.1959769214663118","priceUsd":"7.7264018145586147","changePercent24Hr":"2.5872962552066368","vwap24Hr":"7.7975055512113961","explorer":"https://explorer.nearprotocol.com/"},{"id":"uniswap","rank":"20","symbol":"UNI","name":"Uniswap","supply":"598736139.7100000000000000","maxSupply":"1000000000.0000000000000000","marketCapUsd":"7597802990.7734482349055155","volumeUsd24Hr":"90127092.3190811622662387","priceUsd":"12.6897350717019878","changePercent24Hr":"1.5634101680972896","vwap24Hr":"12.6408977956313040","explorer":"https://etherscan.io/token/0x1f9840a85d5af5bf1d1762f925bdaddc4201f984"},{"id":"litecoin","rank":"21","symbol":"LTC","name":"Litecoin","supply":"74327168.6075049300000000","maxSupply":"84000000.0000000000000000","marketCapUsd":"7100812027.5427037633570616","volumeUsd24Hr":"520657595.2426315553635121","priceUsd":"95.5345422215602023","changePercent24Hr":"5.2423791469544004","vwap24Hr":"91.9335407244139597","explorer":"http://explorer.litecoin.net/chain/Litecoin"},{"id":"unus-sed-leo","rank":"22","symbol":"LEO","name":"UNUS SED LEO","supply":"926931427.9000000000000000","maxSupply":null,"marketCapUsd":"5635016642.9674106154970394","volumeUsd24Hr":"174384.8358803114179087","priceUsd":"6.0792162972980265","changePercent24Hr":"-0.2846443568807223","vwap24Hr":"6.0861135384732684","explorer":"https://eospark.com/account/bitfinexleo1"},{"id":"multi-collateral-dai","rank":"23","symbol":"DAI","name":"Multi Collateral DAI","supply":"5347888595.7464075000000000","maxSupply":null,"marketCapUsd":"5352329955.2260210578665879","volumeUsd24Hr":"292167372.8143049529509742","priceUsd":"1.0008304884067978","changePercent24Hr":"0.1464463118976183","vwap24Hr":"0.9998429840884994","explorer":"https://etherscan.io/token/0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359"},{"id":"stacks","rank":"24","symbol":"STX","name":"Stacks","supply":"1446427874.4571350000000000","maxSupply":"1818000000.0000000000000000","marketCapUsd":"5024616016.6757121062513087","volumeUsd24Hr":"54968723.3285949237343762","priceUsd":"3.4738102780005689","changePercent24Hr":"-4.1942351854129327","vwap24Hr":"3.5477438605693595","explorer":"https://explorer.xinfin.network/"},{"id":"filecoin","rank":"25","symbol":"FIL","name":"Filecoin","supply":"525282244.0000000000000000","maxSupply":null,"marketCapUsd":"4905870682.7827055537244444","volumeUsd24Hr":"250370273.6077580485872487","priceUsd":"9.3394946027962551","changePercent24Hr":"-1.5798949805390755","vwap24Hr":"9.4817514155664154","explorer":"https://protocol.ai"},{"id":"ethereum-classic","rank":"26","symbol":"ETC","name":"Ethereum Classic","supply":"146110555.5363162000000000","maxSupply":"210700000.0000000000000000","marketCapUsd":"4694694727.4118436108718310","volumeUsd24Hr":"117776136.9626495373190336","priceUsd":"32.1311127055770019","changePercent24Hr":"-0.1584101075064558","vwap24Hr":"32.6110675731630978","explorer":"http://gastracker.io/"},{"id":"render-token","rank":"27","symbol":"RNDR","name":"Render Token","supply":"369614008.1087959400000000","maxSupply":"536870912.0000000000000000","marketCapUsd":"4083212859.7103908030788844","volumeUsd24Hr":"35765946.2934647528033611","priceUsd":"11.0472351429616176","changePercent24Hr":"-0.7185214311666385","vwap24Hr":"11.3159882172533276","explorer":"https://etherscan.io/token/0x6de037ef9ad2725eb40118bb1702ebb27e4aeb24"},{"id":"okb","rank":"28","symbol":"OKB","name":"OKB","supply":"60000000.0000000000000000","maxSupply":null,"marketCapUsd":"3989460576.6314750640000000","volumeUsd24Hr":"1075632.6498415702351969","priceUsd":"66.4910096105245844","changePercent24Hr":"2.1337550615461327","vwap24Hr":"66.0126743129473524","explorer":"https://etherscan.io/token/0x75231f58b43240c9718dd58b4967c5114342a86c"},{"id":"stellar","rank":"29","symbol":"XLM","name":"Stellar","supply":"28681978352.6240540000000000","maxSupply":"50001806812.0000000000000000","marketCapUsd":"3958824592.2850794701457680","volumeUsd24Hr":"59662787.3539736058588606","priceUsd":"0.1380248092936342","changePercent24Hr":"0.4438926693102728","vwap24Hr":"0.1381601484246179","explorer":"https://dashboard.stellar.org/"},{"id":"the-graph","rank":"30","symbol":"GRT","name":"The Graph","supply":"9456178825.3094500000000000","maxSupply":null,"marketCapUsd":"3748862807.9892508512747190","volumeUsd24Hr":"64216881.0129373370275125","priceUsd":"0.3964458453297673","changePercent24Hr":"-2.0751702381173771","vwap24Hr":"0.4052124594567443","explorer":"https://etherscan.io/token/0xc944e90c64b2c07662a292be6244bdf05cda44a7"},{"id":"crypto-com-coin","rank":"31","symbol":"CRO","name":"Crypto.com Coin","supply":"25263013692.0000000000000000","maxSupply":"30263013692.0000000000000000","marketCapUsd":"3736868437.7282679722596428","volumeUsd24Hr":"14357135.5770703643152871","priceUsd":"0.1479185533162109","changePercent24Hr":"0.3767524782979803","vwap24Hr":"0.1496464888496226","explorer":"https://etherscan.io/token/0xa0b73e1ff0b80914ab6fe0444e65848c4c34450b"},{"id":"vechain","rank":"32","symbol":"VET","name":"VeChain","supply":"72714516834.0000000000000000","maxSupply":"86712634466.0000000000000000","marketCapUsd":"3247720993.0433578681939374","volumeUsd24Hr":"41976625.2809892202200291","priceUsd":"0.0446639974306311","changePercent24Hr":"0.3429294849066880","vwap24Hr":"0.0449940437369725","explorer":"https://explore.veforge.com/"},{"id":"thorchain","rank":"33","symbol":"RUNE","name":"THORChain","supply":"336620216.0000000000000000","maxSupply":null,"marketCapUsd":"3201221733.7580271012009104","volumeUsd24Hr":"191519425.8972986607393146","priceUsd":"9.5098915085896894","changePercent24Hr":"4.7258723899701626","vwap24Hr":"9.4112348714937610","explorer":"https://explorer.binance.org/asset/RUNE-B1A"},{"id":"theta","rank":"34","symbol":"THETA","name":"THETA","supply":"1000000000.0000000000000000","maxSupply":"1000000000.0000000000000000","marketCapUsd":"3125853425.4059189000000000","volumeUsd24Hr":"51868863.6809750775173608","priceUsd":"3.1258534254059189","changePercent24Hr":"0.2567137928975035","vwap24Hr":"3.1901415897001188","explorer":"https://explorer.thetatoken.org/"},{"id":"cosmos","rank":"35","symbol":"ATOM","name":"Cosmos","supply":"248453201.0000000000000000","maxSupply":null,"marketCapUsd":"3045656785.6120980810830698","volumeUsd24Hr":"185688730.2251468128262397","priceUsd":"12.2584727158017098","changePercent24Hr":"-0.1344748004727480","vwap24Hr":"12.2691022383790860","explorer":"https://www.mintscan.io/"},{"id":"fantom","rank":"36","symbol":"FTM","name":"Fantom","supply":"2803634835.5265927000000000","maxSupply":"3175000000.0000000000000000","marketCapUsd":"3015075999.1963345857234984","volumeUsd24Hr":"242048051.2437208216650292","priceUsd":"1.0754167985753494","changePercent24Hr":"-6.2140084721474214","vwap24Hr":"1.1089250819217068","explorer":"https://etherscan.io/token/0x4e15361fd6b4bb609fa63c81a2be19d873717870"},{"id":"maker","rank":"37","symbol":"MKR","name":"Maker","supply":"924359.6736397800000000","maxSupply":"1005577.0000000000000000","marketCapUsd":"2986461270.8693569149225895","volumeUsd24Hr":"48922947.2676869012732988","priceUsd":"3230.8433135229688669","changePercent24Hr":"-2.1375304036879318","vwap24Hr":"3286.5423661993387664","explorer":"https://etherscan.io/token/Maker"},{"id":"injective-protocol","rank":"38","symbol":"INJ","name":"Injective","supply":"73005554.3300000000000000","maxSupply":"100000000.0000000000000000","marketCapUsd":"2867467168.1515285832735853","volumeUsd24Hr":"123798714.1195773332864140","priceUsd":"39.2773836794662495","changePercent24Hr":"2.8720662882233854","vwap24Hr":"39.9414203963325479","explorer":"https://etherscan.io/token/0xe28b3b32b6c345a34ff64674606124dd5aceca30"},{"id":"lido-dao","rank":"39","symbol":"LDO","name":"Lido DAO","supply":"891700325.0543096000000000","maxSupply":"1000000000.0000000000000000","marketCapUsd":"2813482970.8774147994954384","volumeUsd24Hr":"3145621.9820393285899317","priceUsd":"3.1551889035209870","changePercent24Hr":"-4.6277256864000438","vwap24Hr":"3.2326091697990043","explorer":"https://etherscan.io/token/0x5a98fcbea516cf06857215779fd812ca3bef1b32"},{"id":"arweave","rank":"40","symbol":"AR","name":"Arweave","supply":"65454185.0000000000000000","maxSupply":"66000000.0000000000000000","marketCapUsd":"2697093599.1006949282625005","volumeUsd24Hr":"52403047.8450073679498662","priceUsd":"41.2058235711084773","changePercent24Hr":"-2.9186220924672456","vwap24Hr":"42.0049979265664667","explorer":"https://viewblock.io/arweave"},{"id":"monero","rank":"41","symbol":"XMR","name":"Monero","supply":"18412233.1642821700000000","maxSupply":null,"marketCapUsd":"2468080336.8867015196926250","volumeUsd24Hr":"46918135.1309332811195819","priceUsd":"134.0456811982221892","changePercent24Hr":"-6.2628534073150277","vwap24Hr":"139.6892067388008030","explorer":"http://moneroblocks.info/"},{"id":"fetch","rank":"42","symbol":"FET","name":"Fetch.ai","supply":"839758747.7594593000000000","maxSupply":null,"marketCapUsd":"2402131439.1019797952359119","volumeUsd24Hr":"364463645.4661185760597162","priceUsd":"2.8605018352128520","changePercent24Hr":"6.7104957350029967","vwap24Hr":"2.8583575687426481","explorer":"https://etherscan.io/token/0x1d287cc25dad7ccaf76a26bc660c5f7c8e2a05bd"},{"id":"algorand","rank":"43","symbol":"ALGO","name":"Algorand","supply":"8066790016.0592870000000000","maxSupply":"10000000000.0000000000000000","marketCapUsd":"2261061718.4129351677121545","volumeUsd24Hr":"66758279.4764433332410673","priceUsd":"0.2802926212175643","changePercent24Hr":"3.8242489255413635","vwap24Hr":"0.2780920346571849","explorer":"https://algoexplorer.io/"},{"id":"flow","rank":"44","symbol":"FLOW","name":"Flow","supply":"1494854696.0000000000000000","maxSupply":null,"marketCapUsd":"2148136596.4562728756143736","volumeUsd24Hr":"44133962.9496903215910917","priceUsd":"1.4370203352903491","changePercent24Hr":"3.4568274559355027","vwap24Hr":"1.4262997799581389","explorer":"https://flowscan.org/"},{"id":"gala","rank":"45","symbol":"GALA","name":"Gala","supply":"29775512979.1718670000000000","maxSupply":null,"marketCapUsd":"2037598933.8805056231257825","volumeUsd24Hr":"173310128.1537590990696650","priceUsd":"0.0684320345817658","changePercent24Hr":"-0.0839230909191290","vwap24Hr":"0.0695568929056014","explorer":"https://ethplorer.io/es/address/0x15d4c048f83bd7e37d49ea4c83a07267ec4203da#chart=candlestick"},{"id":"aave","rank":"46","symbol":"AAVE","name":"Aave","supply":"14763809.3572999600000000","maxSupply":"16000000.0000000000000000","marketCapUsd":"1925704142.4434733053991837","volumeUsd24Hr":"56587826.5359112940670172","priceUsd":"130.4340970436135857","changePercent24Hr":"1.7855172136160282","vwap24Hr":"129.1011312915172886","explorer":"https://etherscan.io/token/0x80fB784B7eD66730e8b1DBd9820aFD29931aab03"},{"id":"conflux-network","rank":"47","symbol":"CFX","name":"Conflux","supply":"3843897296.4700000000000000","maxSupply":null,"marketCapUsd":"1879431969.2097511419141046","volumeUsd24Hr":"99872624.5508183055257435","priceUsd":"0.4889391740345681","changePercent24Hr":"-3.4169095213563656","vwap24Hr":"0.5063640036703177","explorer":"http://www.confluxscan.io/"},{"id":"hedera-hashgraph","rank":"48","symbol":"HBAR","name":"Hedera Hashgraph","supply":"14832756028.0000000000000000","maxSupply":"50000000000.0000000000000000","marketCapUsd":"1776027282.7301964191812736","volumeUsd24Hr":"63182317.3300652573623065","priceUsd":"0.1197368364569312","changePercent24Hr":"1.8580237827443940","vwap24Hr":"0.1212868880395038","explorer":"https://hash-hash.info/"},{"id":"bitcoin-sv","rank":"49","symbol":"BSV","name":"Bitcoin SV","supply":"19664756.2500000000000000","maxSupply":null,"marketCapUsd":"1767586760.0513551455984863","volumeUsd24Hr":"11866060.5063007647292418","priceUsd":"89.8860243971422298","changePercent24Hr":"-0.4075539501566384","vwap24Hr":"89.6836683870577383","explorer":"https://bsvexplorer.io/"},{"id":"quant","rank":"50","symbol":"QNT","name":"Quant","supply":"12072738.0000000000000000","maxSupply":"14881364.0000000000000000","marketCapUsd":"1691812044.4997640271918068","volumeUsd24Hr":"29545784.1793991913062755","priceUsd":"140.1349092889917786","changePercent24Hr":"-0.7365632280154847","vwap24Hr":"143.0269712172217498","explorer":"https://etherscan.io/token/0x4a220e6096b25eadb88358cb44068a3248254675"},{"id":"the-sandbox","rank":"51","symbol":"SAND","name":"The Sandbox","supply":"2251731926.2233224000000000","maxSupply":"3000000000.0000000000000000","marketCapUsd":"1626298205.8868676583147413","volumeUsd24Hr":"74314907.5199638241803459","priceUsd":"0.7222432594871751","changePercent24Hr":"3.6379132408110803","vwap24Hr":"0.7078025703856760","explorer":"https://etherscan.io/token/0x3845badAde8e6dFF049820680d1F14bD3903a5d0"},{"id":"axie-infinity","rank":"52","symbol":"AXS","name":"Axie Infinity","supply":"142037746.2970986000000000","maxSupply":"270000000.0000000

In [85]:
# Load JSON data
extract_data = json.loads(data)

df= pd.DataFrame(extract_data['data'])
df.to_csv('final_crypto.csv', index=False, header=True)
print("CSV file has been created successfully.")

CSV file has been created successfully.

In [86]:
# Getting data for top 10 cryptocurrency

In [87]:
import http.client

In [88]:
conn = http.client.HTTPSConnection("api.coincap.io")
payload = ''
headers = {}
conn.request("GET", "/v2/assets/bitcoin/history?interval=d1", payload, headers)
res = conn.getresponse()
bitcoin_data = res.read()
bitcoin_data_df= pd.DataFrame(json.loads(bitcoin_data)['data'])
bitcoin_data_df.insert(0, 'id', 'bitcoin')
bitcoin_data_df.head()
#print(bitcoin_data.decode("utf-8"))

        id                priceUsd           time                      date
0  bitcoin  27065.6706570567305529  1679961600000  2023-03-28T00:00:00.000Z
1  bitcoin  28118.2122209636066111  1680048000000  2023-03-29T00:00:00.000Z
2  bitcoin  28415.3047378586822899  1680134400000  2023-03-30T00:00:00.000Z
3  bitcoin  28240.9604785536354686  1680220800000  2023-03-31T00:00:00.000Z
4  bitcoin  28503.4131407150636311  1680307200000  2023-04-01T00:00:00.000Z

In [89]:
conn = http.client.HTTPSConnection("api.coincap.io")
payload = ''
headers = {}
conn.request("GET", "/v2/assets/ethereum/history?interval=d1", payload, headers)
res = conn.getresponse()
ethereum_data = res.read()
ethereum_data_df= pd.DataFrame(json.loads(ethereum_data)['data'])
ethereum_data_df.insert(0, 'id', 'ethereum')
ethereum_data_df.head()
#print(ethereum_data.decode("utf-8"))

         id               priceUsd           time                      date
0  ethereum  1739.0292368627287862  1679961600000  2023-03-28T00:00:00.000Z
1  ethereum  1801.4126833820127581  1680048000000  2023-03-29T00:00:00.000Z
2  ethereum  1795.6295143492993633  1680134400000  2023-03-30T00:00:00.000Z
3  ethereum  1813.3800169359037036  1680220800000  2023-03-31T00:00:00.000Z
4  ethereum  1826.4093262631563085  1680307200000  2023-04-01T00:00:00.000Z

In [90]:
conn = http.client.HTTPSConnection("api.coincap.io")
payload = ''
headers = {}
conn.request("GET", "/v2/assets/tether/history?interval=d1", payload, headers)
res = conn.getresponse()
tether_data = res.read()
tether_data_df= pd.DataFrame(json.loads(tether_data)['data'])
tether_data_df.insert(0, 'id', 'tether')
tether_data_df.head()
#print(tether_data.decode("utf-8"))

       id            priceUsd           time                      date
0  tether  1.0013173034346209  1679961600000  2023-03-28T00:00:00.000Z
1  tether  1.0013828436852405  1680048000000  2023-03-29T00:00:00.000Z
2  tether  1.0013466256300645  1680134400000  2023-03-30T00:00:00.000Z
3  tether  1.0014705124211978  1680220800000  2023-03-31T00:00:00.000Z
4  tether  1.0021044449504974  1680307200000  2023-04-01T00:00:00.000Z

In [91]:
conn = http.client.HTTPSConnection("api.coincap.io")
payload = ''
headers = {}
conn.request("GET", "/v2/assets/binance-coin/history?interval=d1", payload, headers)
res = conn.getresponse()
binancecoin_data = res.read()
binancecoin_data_df= pd.DataFrame(json.loads(binancecoin_data)['data'])
binancecoin_data_df.insert(0, 'id', 'binance-coin')
binancecoin_data_df.head()
#print(binancecoin_data.decode("utf-8"))

             id              priceUsd           time                      date
0  binance-coin  311.1752753729103144  1679961600000  2023-03-28T00:00:00.000Z
1  binance-coin  316.0303806705048294  1680048000000  2023-03-29T00:00:00.000Z
2  binance-coin  315.6846105062799012  1680134400000  2023-03-30T00:00:00.000Z
3  binance-coin  317.1381372302450135  1680220800000  2023-03-31T00:00:00.000Z
4  binance-coin  315.8003101123334037  1680307200000  2023-04-01T00:00:00.000Z

In [92]:
conn = http.client.HTTPSConnection("api.coincap.io")
payload = ''
headers = {}
conn.request("GET", "/v2/assets/solana/history?interval=d1", payload, headers)
res = conn.getresponse()
solana_data = res.read()
solana_data_df= pd.DataFrame(json.loads(solana_data)['data'])
solana_data_df.insert(0, 'id', 'solana')
solana_data_df.head()
#print(solana_data.decode("utf-8"))

       id             priceUsd           time                      date
0  solana  20.0894420019929964  1679961600000  2023-03-28T00:00:00.000Z
1  solana  21.0815598498377422  1680048000000  2023-03-29T00:00:00.000Z
2  solana  20.7576175429637652  1680134400000  2023-03-30T00:00:00.000Z
3  solana  20.6759191862052450  1680220800000  2023-03-31T00:00:00.000Z
4  solana  21.0773563090952983  1680307200000  2023-04-01T00:00:00.000Z

In [93]:
conn = http.client.HTTPSConnection("api.coincap.io")
payload = ''
headers = {}
conn.request("GET", "/v2/assets/usd-coin/history?interval=d1", payload, headers)
res = conn.getresponse()
usdcoin_data = res.read()
usdcoin_data_df= pd.DataFrame(json.loads(usdcoin_data)['data'])
usdcoin_data_df.insert(0, 'id', 'usd-coin')
usdcoin_data_df.head()
#print(usdcoin_data.decode("utf-8"))

         id            priceUsd           time                      date
0  usd-coin  1.0008305265259966  1679961600000  2023-03-28T00:00:00.000Z
1  usd-coin  1.0009485552226599  1680048000000  2023-03-29T00:00:00.000Z
2  usd-coin  1.0010127628623135  1680134400000  2023-03-30T00:00:00.000Z
3  usd-coin  1.0010745039985466  1680220800000  2023-03-31T00:00:00.000Z
4  usd-coin  1.0016710553439343  1680307200000  2023-04-01T00:00:00.000Z

In [94]:
conn = http.client.HTTPSConnection("api.coincap.io")
payload = ''
headers = {}
conn.request("GET", "/v2/assets/xrp/history?interval=d1", payload, headers)
res = conn.getresponse()
xrp_data = res.read()
xrp_data_df= pd.DataFrame(json.loads(xrp_data)['data'])
xrp_data_df.insert(0, 'id', 'xrp')
xrp_data_df.head()
#print(xrp_data.decode("utf-8"))

    id                priceUsd           time                      date
0  xrp  0.49644473941959952319  1679961600000  2023-03-28T00:00:00.000Z
1  xrp  0.54707385996788949125  1680048000000  2023-03-29T00:00:00.000Z
2  xrp  0.53730767525084112253  1680134400000  2023-03-30T00:00:00.000Z
3  xrp  0.53576574274426232132  1680220800000  2023-03-31T00:00:00.000Z
4  xrp  0.51744670657903498549  1680307200000  2023-04-01T00:00:00.000Z

In [95]:
conn = http.client.HTTPSConnection("api.coincap.io")
payload = ''
headers = {}
conn.request("GET", "/v2/assets/dogecoin/history?interval=d1", payload, headers)
res = conn.getresponse()
dogecoin_data = res.read()
dogecoin_data_df= pd.DataFrame(json.loads(dogecoin_data)['data'])
dogecoin_data_df.insert(0, 'id', 'dogecoin')
dogecoin_data_df.head()
#print(dogecoin_data.decode("utf-8"))

         id                priceUsd           time                      date
0  dogecoin  0.07280267959377878083  1679961600000  2023-03-28T00:00:00.000Z
1  dogecoin  0.07554602294796942083  1680048000000  2023-03-29T00:00:00.000Z
2  dogecoin  0.07494597740690707942  1680134400000  2023-03-30T00:00:00.000Z
3  dogecoin  0.07541751389497868715  1680220800000  2023-03-31T00:00:00.000Z
4  dogecoin  0.07826016095790171340  1680307200000  2023-04-01T00:00:00.000Z

In [96]:
conn = http.client.HTTPSConnection("api.coincap.io")
payload = ''
headers = {}
conn.request("GET", "/v2/assets/cardano/history?interval=d1", payload, headers)
res = conn.getresponse()
cardano_data = res.read()
cardano_data_df= pd.DataFrame(json.loads(cardano_data)['data'])
cardano_data_df.insert(0, 'id', 'cardano')
cardano_data_df.head()
#print(cardano_data.decode("utf-8"))

        id                priceUsd           time                      date
0  cardano  0.35400470838898566903  1679961600000  2023-03-28T00:00:00.000Z
1  cardano  0.38206747040401236000  1680048000000  2023-03-29T00:00:00.000Z
2  cardano  0.37783203458557585682  1680134400000  2023-03-30T00:00:00.000Z
3  cardano  0.39198255868016535069  1680220800000  2023-03-31T00:00:00.000Z
4  cardano  0.39429185571150770278  1680307200000  2023-04-01T00:00:00.000Z

In [97]:
conn = http.client.HTTPSConnection("api.coincap.io")
payload = ''
headers = {}
conn.request("GET", "/v2/assets/avalanche/history?interval=d1", payload, headers)
res = conn.getresponse()
avalanche_data = res.read()
avalanche_data_df= pd.DataFrame(json.loads(avalanche_data)['data'])
avalanche_data_df.insert(0, 'id', 'avalanche')
avalanche_data_df.head()
#print(avalanche_data.decode("utf-8"))

          id             priceUsd           time                      date
0  avalanche  16.5828252945814797  1679961600000  2023-03-28T00:00:00.000Z
1  avalanche  17.1739784949060535  1680048000000  2023-03-29T00:00:00.000Z
2  avalanche  17.2979592139591408  1680134400000  2023-03-30T00:00:00.000Z
3  avalanche  17.4647783019206255  1680220800000  2023-03-31T00:00:00.000Z
4  avalanche  17.7467024229551064  1680307200000  2023-04-01T00:00:00.000Z

In [98]:
final_data_time_series = pd.concat([bitcoin_data_df, ethereum_data_df, tether_data_df, binancecoin_data_df,
                                  solana_data_df, usdcoin_data_df, xrp_data_df,dogecoin_data_df, 
                                   cardano_data_df,avalanche_data_df], ignore_index = True)
final_data_time_series.head()

        id                priceUsd           time                      date
0  bitcoin  27065.6706570567305529  1679961600000  2023-03-28T00:00:00.000Z
1  bitcoin  28118.2122209636066111  1680048000000  2023-03-29T00:00:00.000Z
2  bitcoin  28415.3047378586822899  1680134400000  2023-03-30T00:00:00.000Z
3  bitcoin  28240.9604785536354686  1680220800000  2023-03-31T00:00:00.000Z
4  bitcoin  28503.4131407150636311  1680307200000  2023-04-01T00:00:00.000Z

In [99]:
final_data_time_series.tail()

             id             priceUsd           time                      date
3635  avalanche  54.9919416615477766  1710979200000  2024-03-21T00:00:00.000Z
3636  avalanche  54.3824265812230237  1711065600000  2024-03-22T00:00:00.000Z
3637  avalanche  54.4054325224182931  1711152000000  2024-03-23T00:00:00.000Z
3638  avalanche  53.8898021996736862  1711238400000  2024-03-24T00:00:00.000Z
3639  avalanche  57.2385773566666628  1711324800000  2024-03-25T00:00:00.000Z

In [100]:
final_data_time_series.to_csv('final_data_time_series.csv', index=False, header=True)
print("CSV file has been created successfully.")

CSV file has been created successfully.

In [56]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('final_data_time_series.csv')

# Convert the date column to datetime
df['date'] = pd.to_datetime(df['date'])

# Extract the date and store it in another column
df['extracted_date'] = df['date'].dt.date

# Save the modified DataFrame back to a new CSV file
df.to_csv('final_time_series_data.csv', index=False)

print("Date extraction and saving to new CSV file is complete.")

Date extraction and saving to new CSV file is complete.

In [101]:
#Convert date to datetime format  and price to float format for all crypto currencies

In [118]:
# Convert the date column to datetime
bitcoin_data_df['date'] = pd.to_datetime(bitcoin_data_df['date'])

# Extract the date and store it in another column
bitcoin_data_df['extracted_date'] = bitcoin_data_df['date'].dt.date

#convert priceUsd to float
bitcoin_data_df['priceUsd']=bitcoin_data_df['priceUsd'].astype(float)

bitcoin_data_df.head()

,id,priceUsd,time,date,extracted_date
0,bitcoin,27065.670657,1679961600000,2023-03-28 00:00:00+00:00,2023-03-28
1,bitcoin,28118.212221,1680048000000,2023-03-29 00:00:00+00:00,2023-03-29
2,bitcoin,28415.304738,1680134400000,2023-03-30 00:00:00+00:00,2023-03-30
3,bitcoin,28240.960479,1680220800000,2023-03-31 00:00:00+00:00,2023-03-31
4,bitcoin,28503.413141,1680307200000,2023-04-01 00:00:00+00:00,2023-04-01

In [122]:
# Convert the date column to datetime
ethereum_data_df['date'] = pd.to_datetime(ethereum_data_df['date'])

# Extract the date and store it in another column
ethereum_data_df['extracted_date'] = ethereum_data_df['date'].dt.date

#convert priceUsd to float
ethereum_data_df['priceUsd']=ethereum_data_df['priceUsd'].astype(float)

ethereum_data_df.head()

,id,priceUsd,time,date,extracted_date
0,ethereum,1739.029237,1679961600000,2023-03-28 00:00:00+00:00,2023-03-28
1,ethereum,1801.412683,1680048000000,2023-03-29 00:00:00+00:00,2023-03-29
2,ethereum,1795.629514,1680134400000,2023-03-30 00:00:00+00:00,2023-03-30
3,ethereum,1813.380017,1680220800000,2023-03-31 00:00:00+00:00,2023-03-31
4,ethereum,1826.409326,1680307200000,2023-04-01 00:00:00+00:00,2023-04-01

In [123]:
# Convert the date column to datetime
tether_data_df['date'] = pd.to_datetime(tether_data_df['date'])

# Extract the date and store it in another column
tether_data_df['extracted_date'] = tether_data_df['date'].dt.date

#convert priceUsd to float
tether_data_df['priceUsd']=tether_data_df['priceUsd'].astype(float)

tether_data_df.head()

       id  priceUsd           time                      date extracted_date
0  tether  1.001317  1679961600000 2023-03-28 00:00:00+00:00     2023-03-28
1  tether  1.001383  1680048000000 2023-03-29 00:00:00+00:00     2023-03-29
2  tether  1.001347  1680134400000 2023-03-30 00:00:00+00:00     2023-03-30
3  tether  1.001471  1680220800000 2023-03-31 00:00:00+00:00     2023-03-31
4  tether  1.002104  1680307200000 2023-04-01 00:00:00+00:00     2023-04-01

In [124]:
# Convert the date column to datetime
binancecoin_data_df['date'] = pd.to_datetime(binancecoin_data_df['date'])

# Extract the date and store it in another column
binancecoin_data_df['extracted_date'] = binancecoin_data_df['date'].dt.date

#convert priceUsd to float
binancecoin_data_df['priceUsd']=binancecoin_data_df['priceUsd'].astype(float)

binancecoin_data_df.head()

,id,priceUsd,time,date,extracted_date
0,binance-coin,311.175275,1679961600000,2023-03-28 00:00:00+00:00,2023-03-28
1,binance-coin,316.030381,1680048000000,2023-03-29 00:00:00+00:00,2023-03-29
2,binance-coin,315.684611,1680134400000,2023-03-30 00:00:00+00:00,2023-03-30
3,binance-coin,317.138137,1680220800000,2023-03-31 00:00:00+00:00,2023-03-31
4,binance-coin,315.800310,1680307200000,2023-04-01 00:00:00+00:00,2023-04-01

In [125]:
# Convert the date column to datetime
solana_data_df['date'] = pd.to_datetime(solana_data_df['date'])

# Extract the date and store it in another column
solana_data_df['extracted_date'] = solana_data_df['date'].dt.date

#convert priceUsd to float
solana_data_df['priceUsd']=solana_data_df['priceUsd'].astype(float)

solana_data_df.head()

       id   priceUsd           time                      date extracted_date
0  solana  20.089442  1679961600000 2023-03-28 00:00:00+00:00     2023-03-28
1  solana  21.081560  1680048000000 2023-03-29 00:00:00+00:00     2023-03-29
2  solana  20.757618  1680134400000 2023-03-30 00:00:00+00:00     2023-03-30
3  solana  20.675919  1680220800000 2023-03-31 00:00:00+00:00     2023-03-31
4  solana  21.077356  1680307200000 2023-04-01 00:00:00+00:00     2023-04-01

In [126]:
# Convert the date column to datetime
usdcoin_data_df['date'] = pd.to_datetime(usdcoin_data_df['date'])

# Extract the date and store it in another column
usdcoin_data_df['extracted_date'] = usdcoin_data_df['date'].dt.date

#convert priceUsd to float
usdcoin_data_df['priceUsd']=usdcoin_data_df['priceUsd'].astype(float)

usdcoin_data_df.head()

         id  priceUsd           time                      date extracted_date
0  usd-coin  1.000831  1679961600000 2023-03-28 00:00:00+00:00     2023-03-28
1  usd-coin  1.000949  1680048000000 2023-03-29 00:00:00+00:00     2023-03-29
2  usd-coin  1.001013  1680134400000 2023-03-30 00:00:00+00:00     2023-03-30
3  usd-coin  1.001075  1680220800000 2023-03-31 00:00:00+00:00     2023-03-31
4  usd-coin  1.001671  1680307200000 2023-04-01 00:00:00+00:00     2023-04-01

In [127]:
# Convert the date column to datetime
xrp_data_df['date'] = pd.to_datetime(xrp_data_df['date'])

# Extract the date and store it in another column
xrp_data_df['extracted_date'] = xrp_data_df['date'].dt.date

#convert priceUsd to float
xrp_data_df['priceUsd']=xrp_data_df['priceUsd'].astype(float)

xrp_data_df.head()

    id  priceUsd           time                      date extracted_date
0  xrp  0.496445  1679961600000 2023-03-28 00:00:00+00:00     2023-03-28
1  xrp  0.547074  1680048000000 2023-03-29 00:00:00+00:00     2023-03-29
2  xrp  0.537308  1680134400000 2023-03-30 00:00:00+00:00     2023-03-30
3  xrp  0.535766  1680220800000 2023-03-31 00:00:00+00:00     2023-03-31
4  xrp  0.517447  1680307200000 2023-04-01 00:00:00+00:00     2023-04-01

In [128]:
# Convert the date column to datetime
dogecoin_data_df['date'] = pd.to_datetime(dogecoin_data_df['date'])

# Extract the date and store it in another column
dogecoin_data_df['extracted_date'] = dogecoin_data_df['date'].dt.date

#convert priceUsd to float
dogecoin_data_df['priceUsd']=dogecoin_data_df['priceUsd'].astype(float)

dogecoin_data_df.head()

         id  priceUsd           time                      date extracted_date
0  dogecoin  0.072803  1679961600000 2023-03-28 00:00:00+00:00     2023-03-28
1  dogecoin  0.075546  1680048000000 2023-03-29 00:00:00+00:00     2023-03-29
2  dogecoin  0.074946  1680134400000 2023-03-30 00:00:00+00:00     2023-03-30
3  dogecoin  0.075418  1680220800000 2023-03-31 00:00:00+00:00     2023-03-31
4  dogecoin  0.078260  1680307200000 2023-04-01 00:00:00+00:00     2023-04-01

In [129]:
# Convert the date column to datetime
cardano_data_df['date'] = pd.to_datetime(cardano_data_df['date'])

# Extract the date and store it in another column
cardano_data_df['extracted_date'] = cardano_data_df['date'].dt.date

#convert priceUsd to float
cardano_data_df['priceUsd']=cardano_data_df['priceUsd'].astype(float)

cardano_data_df.head()

        id  priceUsd           time                      date extracted_date
0  cardano  0.354005  1679961600000 2023-03-28 00:00:00+00:00     2023-03-28
1  cardano  0.382067  1680048000000 2023-03-29 00:00:00+00:00     2023-03-29
2  cardano  0.377832  1680134400000 2023-03-30 00:00:00+00:00     2023-03-30
3  cardano  0.391983  1680220800000 2023-03-31 00:00:00+00:00     2023-03-31
4  cardano  0.394292  1680307200000 2023-04-01 00:00:00+00:00     2023-04-01